html,
body {
  font-size: 15px;
}

body {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: #fabf2b;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 10px;
  }
}

.btn-primary {
  &,
  &:focus {
    height: fit-content;
    padding: 8px 15px;
    border: 1px solid #fabf2b;
    outline: none;
  }
}

.banner-container {
  height: 19rem;
  .banner-img {
    opacity: 0.7;
  }
}

.border-line {
  &::after {
    content: "";
    display: block;
    width: 20px;
    position: absolute;
    border-bottom: 3px solid #fabf2b;
  }
}

.input-control {
  padding: 0.875rem 1.375rem 0.8125rem;
  display: block;
  background: #f1f7fe;
  border-radius: 12px;
  border: 1px solid #f1f7fe;
  outline: none;
  transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
  &.error {
    border-color: #ff0000;
  }
  &::placeholder {
    @apply font-mitr;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 25px;
    color: #5e6e80;
  }
  &:focus {
    background: transparent;
    border: 2px solid #d2e5e7;
    &.error {
      border-color: #ff0000;
    }
  }
}

.item {
  position: relative;
  border-left: 1px solid #e2e8f0;

  &::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: #fabf2b;
    position: absolute;
    top: 0;
    left: -5px;
    border-radius: 10px;
    box-shadow: 0 0 0 0.1875rem rgba(255, 150, 86, 0.4);
  }

  &-title {
    @apply text-lg font-medium font-mitr text-violet-300 relative;
    top: -5px;
  }

  &-subtitle {
    @apply text-black-100 text-base font-light font-roboto;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1140px !important;
  }
}
